body {
  margin: 0;
  font-family: "Verdana", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  background-color: blanchedalmond;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

#editor {
  padding: 3rem;
  border: 1px solid orange;
  background-color: white;
  outline-style: none;
  width: 38vw;
  height: 44vh;

}

#preview {
  padding: 3rem;
  border: 1px solid orange;
  background-color: white;
  overflow-wrap: break-word;
  overflow-y: scroll;
  width: 38vw;
  height: 44vh;
  outline-style: none;
}

pre {
  white-space: pre-wrap;
  background-color: black;
  color: chartreuse;
  padding: 0.6rem;
  width: auto;
}

p code {
  white-space: pre-wrap;
  white-space: pre-wrap;
  background-color: black;
  color: chartreuse;
  padding: 0.6rem; 
  line-height: 2rem;
}

img {
  width: 20%;
  height: 20%;
}

@media (max-width: 1100px) and (orientation: landscape) {
  #editor, #preview {
    width: 30vw;
  }
}

@media (max-width: 1100px) and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  #editor, #preview {
    height: 45vw;
  }
}
